@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #808080;
}
.wrapper{
    width: 424px;
    height: 600px;
    background: #fff;
    position: relative;
    padding: 30px 40px;
}
.border-design{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.border-design .c1{
    width: 30px;
    height: 10px;
}
.c1{
    background: rgb(165, 4, 4);
}
.border-design.top{
    position: absolute;
    top: 0;
    right: 0;
}
.border-design.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: row-reverse;
}
.img-fluid {
    max-width: 50%;
    height: auto;
  }
.order-header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}
.logo{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
}
.logo span{
    font-weight: 400;
}
.title{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    text-align: right;
}
.ord-number{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ord-number{
    padding: 10px 45px 0 0;
}
.ord-date{
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 45px;
}
.ord-number h3, .ord-date h3{
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
}
.ord-number h4, .ord-date h4{
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 5px;
}
.billing-detail{
    margin-top: 15px;
}
.billing-detail p:nth-child(1),
.billing-detail p:nth-child(2){
    text-transform: uppercase;
}
.billing-detail p:nth-child(1){
    font-size: 10px;
}
.billing-detail p:nth-child(2){
    font-size: 12px;
    font-weight: 700;
    width: 150px;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
}
.billing-detail p:nth-child(3),
.billing-detail p:nth-child(4),
.billing-detail p:nth-child(5){
    font-size: 10px;
}
.billing-detail p span{
    font-weight: 600;
}
table{
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    margin-top: 20px;
}
table thead tr td{
    text-align: center;
    font-weight: 600;
    padding: 8px 5px;
}
table tbody td{
    padding: 7px 5px;
    text-align: center;
}
.l-col{
    text-align: left;
}
.r-col{
    text-align: right;
}
table tbody tr:nth-child(odd){
    background: #f0f0f0;
}
table tbody tr:nth-child(even){
    background: #fcfcfc;
    border-bottom: 1px solid #b4b4b4;
    border-top: 1px solid #b4b4b4;
}
.total-section{
    position: absolute;
    right: 40px;
    font-size: 12px;
    width: 160px;
    margin-top: 5px;
    padding-right: 5px;
}
.sub, .tax, .total{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.total{
    border-top: 1px solid #646464;
    padding-top: 5px;
}
.sub p:nth-child(1),
.tax p:nth-child(1),
.total p{
    font-weight: 600;
}
.payment-terms{
    position: absolute;
    bottom: 30px;
    width: 45%;
}
.message p{
    font-size: 12px;
    font-weight: 700;
}
.button1{
    font-size: 12px;
    background-color: rgb(165, 4, 4);
    color: #fcfcfc;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}